.container {
    padding: 0 20px;
    display: flex;
    height: 700px;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Left Column | Job Listings */
.listings-container {
    background-color: gray;
    width: 20%;
    min-width: 350px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.cards {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 15px;
    border: solid 2px;
    border-color: gray;
}
.card-logo{
    margin: 0;
    padding-right: 20px;
}

.text {
    margin: 0;
    color: var(--grey);
}
.title {
    text-decoration: underline;
    color: black;
}
.quarter {
    font-weight: bold;
    color: black;
}
.wage {
    color: black;
    font-weight: bold;
}
.seats {
    color: black;
    font-weight: bold;
}


/* Right Column | Details */
.details-container {
    background-color: gray;
    width: 75%;
    border-radius: 5px;
}

.details {
    background-color: darkred;
    color: white;
}