.profileContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    margin-top: 58px;
}

.col {
    background : var(--bg_darker);
    padding: 10px 10px;
    border-radius: 8px;
}

.col + .col {
    margin-top: 24px;
}

.col_entry{
    background: var(--white);
    border-radius: 8px;
}

.card_top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.block {
    height: 10px;
    width: 400px;
    margin-bottom: 15.6px;
}

.nothidden {
    display: block;
    animation: fade-in 400ms forwards;
    animation: slide-up 400ms forwards;
}

.hidden{
    display: none;
    animation: fade-out 400ms forwards;
}

.col_entry textarea {
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif; 
    font-size: 15px;
}

.card {
    width: 680px;
    padding: 8px 16px;
}

.bar {
    height: 600px;
    width: 336px;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar_entry {
    background: var(--blue);
    border-radius: 8px;
    color: var(--white);
    padding: 8px 24px;
    transition: all 0.5s; 
    cursor: pointer;
    width: 270px;
}

h3 + .bar_entry {
    margin-top: 24px;
}

.bar_entry + .bar_entry {
    margin-top: 16px;
}

.btn {
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: var(--white);
    background: var(--yellow);
    transition: all 0.5s; 
    font-size: 25px;
    cursor: pointer;
}

.btn:hover {
    background: var(--yellow_hover);
}

.bar_entry:hover {
    background: var(--blue_hover);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}