.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
}

.searchbar {
    border-radius: 40px;
    width: 30%;
}

.button {
    border-radius: 0 40px 40px 0;
    background-color: var(--blue);
    color: white;
    position: absolute;
    left: 63%;
    height: 100%;
    cursor: pointer;
    border: none;
}