@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --bg_color: #FFFAEB;
    --blue: #00386D;
    --yellow: #F5A90F;
    --grey: #585858;
}

body {
    background: var(--bg_color);
    font-family: 'Roboto', sans-serif;
}

img {
    margin-left: 16px;
    margin-top: 16px;
}

input {
    padding: 8px;
}

nextjs-portal {
    display: none;
  }